# Ignore build artifacts
/build/
/chain/build/
CMakeCache.txt
CTestTestfile.cmake
CMakeFiles/
cmake_install.cmake
Makefile
.vscode/

*.o
*.obj
*.so
*.a
*.lib
*.dll
*.exe
*.out

*.log
*.tmp
*.swp
*.swo
*.DS_Store

chain/app_test

/test/transaction_test
/test/*.exe
/test/*.out

/dependencies/
/third_party/

conan.lock
conanbuildinfo.txt
vcpkg_installed/

/docs/doxygen/
docs/html/
docs/latex/

*.cache
*.ccls-cache/
.idea/
